@page "/configuration/roles"
@using Web.Components.Common
@attribute [Authorize(Roles = "Admin")]

<PageTitle>Roles - EzPro</PageTitle>

<div class="page-header">
    <h1 class="page-title">
        <i class="fa-light fa-shield-alt me-2"></i>Roles y Permisos
    </h1>
</div>

<div class="row">
    <div class="col-lg-4">
        <EzCard>
            <Header>
                <h5 class="card-title mb-0">Roles</h5>
            </Header>
            <Body>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action active">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Administrador</span>
                            <EzBadge Count="5" Size="EzBadge.BadgeSize.Small" />
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Gerente de Proyecto</span>
                            <EzBadge Count="12" Size="EzBadge.BadgeSize.Small" />
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Usuario</span>
                            <EzBadge Count="45" Size="EzBadge.BadgeSize.Small" />
                        </div>
                    </a>
                </div>
            </Body>
        </EzCard>
    </div>
    <div class="col-lg-8">
        <EzCard>
            <Header>
                <h5 class="card-title mb-0">Permisos del Rol: Administrador</h5>
            </Header>
            <Body>
                <div class="row">
                    <div class="col-md-6">
                        <h6>Proyectos</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked>
                            <label class="form-check-label">Ver proyectos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked>
                            <label class="form-check-label">Crear proyectos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked>
                            <label class="form-check-label">Editar proyectos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked>
                            <label class="form-check-label">Eliminar proyectos</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6>Contratos</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked>
                            <label class="form-check-label">Ver contratos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked>
                            <label class="form-check-label">Crear contratos</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" checked>
                            <label class="form-check-label">Aprobar contratos</label>
                        </div>
                    </div>
                </div>
            </Body>
        </EzCard>
    </div>
</div>

@code {
    // Lógica de roles
}
