@* Web/Layout/MainLayout.razor *@
@inherits LayoutComponentBase
@using Web.Layout.Components
@using Web.Pages.Auth

<PageTitle>EzPro.SD - Sistema de Control de Proyectos</PageTitle>

<AuthInitializer>
    <div class="page">
        <Sidebar />
        <TopBar />
        
        <div class="main-content app-content">
            <div class="container-fluid">
                <EzErrorBoundary>
                    <ChildContent>
                        @Body
                    </ChildContent>

                </EzErrorBoundary>
            </div>
        </div>
        
        <Footer />
    </div>
</AuthInitializer>

@code {
    [Inject] private NavigationManager Navigation { get; set; } = null!;
}